name: Validate updatecli policies

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "updatecli/**"
  push:
    paths:
      - "updatecli/**"

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup updatecli
        uses: updatecli/updatecli-action@b846825b298f5351abd80f94c4f9eab63a38a804 # v2.98.0

      - name: Validate
        working-directory: updatecli
        run: make test

      - name: Generate testing token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-testing-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          # Set the owner, so the token can be used for cross-repo dispatch
          owner: ${{ github.repository_owner }}

      - name: e2e tests
        # Only run e2e tests from the main branch as we need some credentials
        # that we don't want to risk leaking from pullrequest opened by random contributors
        if: github.ref == 'refs/heads/main'
        working-directory: updatecli
        run: make e2e-test
        env:
          # env vars needed by updatecli policies, even for `updatecli diff`:
          UPDATECLI_GITHUB_OWNER: ${{ github.repository_owner }}
          UPDATECLI_GITHUB_TOKEN: ${{ steps.generate-testing-token.outputs.token }}
